@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div data-aos="fade-right" id="cnt" class="aos-init">
    <input type="text" placeholder="Namn" id="ename"><br>
    <input placeholder="Epost" type="text" id="eppost"><br>
    <input placeholder="Ämne" type="text" id="subject"><br>
    <textarea placeholder="Meddelande" id="message"></textarea>
    <br><button id="send">Skicka</button>
</div>