@{
    ViewData["Title"] = "Startsidan";
}

                <div id="mainLogo" data-aos="fade-right" class="aos-init aos-animate">
                <h1>Välkommen</h1>
                <h2>Löksås ipsum tid sorgliga hans samma annat lax tre det, helt trevnadens brunsås där ta fram enligt nu, om ingalunda blivit både stig bäckasiner stig
                    omfångsrik. Lax trevnadens när rännil faktor redan samtidigt olika när ännu, se stora det </h2>
                    </div>

            <div class="mainWrapper">
            <div class="firstSection">
                <div id="about"><div class="firstSection"><img data-aos="fade-right" id="mat" src="/images/kitchenGold.png" alt="sallad" class="aos-init aos-animate"><div class="firstText">
                    <h1 data-aos="fade-down" class="aos-init aos-animate">Om oss</h1><p data-aos="fade-up" class="aos-init aos-animate">Löksås ipsum tid sorgliga hans samma annat lax tre det, 
                    helt trevnadens brunsås där ta fram enligt nu, om ingalunda blivit både stig bäckasiner stig omfångsrik. Lax trevnadens när rännil faktor redan samtidigt olika
                    när ännu, se stora det <br><br>kunde jäst sorgliga oss lax, hans kan kunde inom blev jäst från kanske. Hela dag björnbär helt ta kunde att sitt sin tre, sitt 
                    träutensilierna för bra gör tiden är ordningens det, trevnadens tre kom från se sin faktor verkligen.</p></div></div></div>
                </div>
                </div>
            <div class="mainWrapper2">
            <div class="thirdSection">
                <div id="menu">
                <h2>Meny</h2>
                <div class="part" id="part1">
                    <div id="frame"><h3>Förrätter</h3><br>
                    <div class="item"><p>Gravad och lättrökt lax från Fröya med bakat päron, crème fraiche, quinoa samt päronte</p>
                        <p>Halstrad pilgrimsmussla från Fröya med blomkålskräm, picklad majrova samt brynt smör</p>
                        <p>Halstrad färsk anklever med mandelkräm, picklade lingon, brioche samt rostad anksås med lingon</p>
                        <p>Råbiff på svenskt nötkött med picklad gulbeta, Västervikssenapskräm, rostade macadamianötter samt friterat vaktelägg</p>
                        <p>Rostad jordärtskockssoppa med kräm på Svedjans ost, bakad jordärtskocka samt hösttryffel</p>
                        </div>
                        </div>
                    </div>
                <div class="part" id="part2">
                    <div id="frame2">
                    <h3>Huvudrätter</h3>
                    <div class="item">
                        <p>Ugnsbakad marulk med jordärtskocka, krispig pancetta, grillad svartrot samt pikant sås på rostade tomater</p>
                        <p>Smörbakad gösfilé från Ängsö med Irländsk hummer, kräm på palsternacka, savoykål samt Champagnesås</p>
                        <p>Helstekt blodduva från Vendée med bakad morot samt duvsås med grönpeppar och apelsin</p>
                        <p>Stekt rådjurssadel med rotsellerikräm, svamp från Hällestad, saltbakad rotselleri samt viltsås</p>
                        <p>Pumpa och hasselnötsfylld ravioli med rostad kålkräm, endive, picklad pumpa samt smörad äppelsås</p>
                        <p>Stekt rådjurssadel med rotsellerikräm, svamp från Hällestad, saltbakad rotselleri samt viltsås</p>
                        </div>
                        </div>
                    </div>
                <div class="part" id="part3">
                    <div id="frame3">
                    <h3>Desserter</h3>
                    <div class="item">
                        <p>Cheesecake med citronbavaroise, rostad kokos samt vinbärssorbet</p>
                        <p>Yoghurtmousse med citronglass, rostad maräng samt citruste med fänkål</p>
                        <p>Bakad Carameliachoklad med pistage, saltkaramellmousse, honungskrisp samt färskostglass</p>
                        <p>Calvadosflamberade äpplen med vaniljparfait, hasselnötspraline, kavringskrisp samt äppelsorbet</p>
                        <p>Yoghurtmousse med citronglass, rostad maräng samt citruste med fänkål</p>
                        <p>Bakad Carameliachoklad med pistage, saltkaramellmousse, honungskrisp samt färskostglass</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            <div class="mainWrapper3">
            </div>
            <div class="mainWrapper4">
            <div>
                </div>
                </div>
            <div>
        </div>

