<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="~/images/fav.png">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700,900&amp;display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Sweet Escape | @ViewData["Title"]</title>
</head>
<body data-aos-easing="ease" data-aos-duration="3000" data-aos-delay="0">

    <div id="header-wrapper">
        <div id="header">
            <div id="logo"><a href="#"><img src="/images/logo.png" alt="Logotyp"></a></div>
            <button class="hamburger">
                <span class="hamburger__box"><span class="hamburger__inner"></span></span>
            </button>
            <div class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item"><a asp-controller="Home" asp-action="Index" asp-fragment="about">Om oss</a></li>
                    <li class="navigation__item"><a asp-controller="Home" asp-action="Index" asp-fragment="menu">Menu</a></li>
                    <li class="navigation__item "><a id="bokbord" asp-controller="Booking" asp-action="BokaBord">Boka bord</a></li>
                    <li class="navigation__item "><a  asp-controller="Booking" asp-action="Seebookings">Dina Bokningar</a></li>
                    <li class="navigation__item"><a asp-controller="Home" asp-action="Kontakt">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="headerImage" class="zoom"><img id="test" src="/images/newHeader.jpg" alt="Header"></div>



    <div>
        @RenderBody()
    </div>
    </div>
    <footer><div id="footerContainer">
    <div class="foot">
    <a href="#"><img src="/images/logo.png" alt="Logotyp"></a>
        </div>
    <div class="foot">
    <h2>Hitta till oss</h2>
    <ul>
        <li>Storgatan 23</li>
        <li>33 330 Storstaden</li>
        <li><i class="fas fa-phone" aria-hidden="true"></i> 0777-12345</li>
        </ul>
        </div>
    <div class="foot">
    <h2>Öppettider</h2>
    <ul>
        <li>Måndag-Söndag: 14:00 - 00:00 </li>
        </ul>
        </div>
    <div id="bottomFoot"><p> © Rebecca Seiron &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;A <a href="https://webuals.com/">Webuals</a> production</p></div>
        </div>
        </footer>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 3000
        })</script>

    <script src="~/js/menu.js"></script>

</body>
</html>

